
{{#if error}}
    <div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
               <div class="alert alert-danger" role="alert">
                ERROR. Respuesta de la API: {{error}}
                </div>
        </div>
    </div>
</div>
{{/if}}

