    * {
        box-sizing: border-box;
        float: none;
        font-family: 'Roboto Mono', monospace;
        font-size: .95rem;
    }
    
    body {
        background-color: #1b1824;
    }
    
    .letrasNav {
        color: #26262a;
    }
    
    h1 {
        color: #f0f0f1;
    }
    
    @font-face {
        font-family: 'Oswald', sans-serif;
    }
    
    .boton {
        padding: 0px;
    }
    
    .violeta {
        color: #694ba1;
    }
    
    #logo a {
        background: url('/resources/tyrano.png');
        background-repeat: no-repeat;
        background-size: 4rem;
        padding-top: 3.9rem;
        display: block;
        background-position: left left;
        text-align: right;
    }
    
    .button {
        padding-top: 0rem;
    }
    
    .form-control,
    .barrabuscadora,
    .input-group-append,
    .btn {
        border: 0;
        border-radius: 1rem;
    }
    
    header {
        background-color: black;
    }
    
    nav.item {
        padding: 0rem;
    }
    
    .peliculas {
        align-content: center;
        text-align: center;
    }
    
    .nav {
        align-self: center;
    }
    
    .btn-group,
    .dropdown-menu,
    .generos {
        background: none;
        border: none;
        opacity: 1.0;
        color: red;
    }
    
    .carta,
    .carta li,
    input,
    h1 {
        background-color: black !important;
        color: orange;
        border-color: rgb(50, 17, 82);
        text-shadow: 2px 2px rgb(61, 4, 61);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .carta {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    
    .carta:hover,
    .pelicula {
        opacity: 1.0;
        filter: alpha(opacity=100);
        /* For IE8 and earlier */
    }
    
    input,
    select {
        -webkit-flex: 1;
    }
    
    .coloreame {
        text-shadow: 6px 10px 19px #30A40E;
        text-shadow: 1px 2px 2px rgba(28, 110, 164, 0.34);
        -webkit-box-shadow: -3px 5px 15px 5px #EDFF13;
        box-shadow: -3px 5px 15px 5px #EDFF13;
    }
    
    hr {
        background-color: gray;
    }